<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
</head>
<body>

    <center>
        <h1>welcome {{request.session.Fullname}}</h1>
        <b>ID: </b>{{request.session.id}}
        <br><br>
        <b>Fullname: </b>{{request.session.Fullname}}
        <br><br>
        <b>Email: </b>{{request.session.Email}}
        <br><br>
        <b>Age: </b>{{request.session.Age}}
        <br><br>
        <b>Gender: </b>{{request.session.Gender}}
        <br><br>
        <b>Country: </b>{{request.session.Country}}
        <br><br>
        <b>State: </b>{{request.session.State}}
        <br><br>
        <b>City: </b>{{request.session.City}}
        <br><br>
        <b>Qualification: </b>{{request.session.Qualification}}
        <br><br>
        <b>Subject: </b>{{request.session.Subject}}
    
        <br><br>
    <form action="{% url 'edit_student'%}" method = "post">
        {% csrf_token %} 
        <div>
            <button type="submit" class="btn btn-primary" name="update">Update Data</button>
        </div>
    </form>
    </center>
    
</body>
</html>


